/* Register Page Custom Styles */



.register-title {
  font-family: 'Dancing Script', cursive;
  font-size: 5.5rem;
  color: #f8e4be; /* Fallback solid color */
  -webkit-text-stroke: 1.5px #f8e4be;
  text-shadow:
    2px 4px 10px #2c1b1b,
    0 2px 8px rgba(0, 0, 0, 0.66);
  margin-bottom: 40px;
  margin-top: -60px;
  background: linear-gradient(90deg, #e0a872, #f8e4be, #fff3e0, #e0a872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.custom-checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #e0a872;
  background:#68554f;
  appearance: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.custom-checkbox:checked::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #e0a872;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .register-title {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .terms-label {
    font-size: 1.1rem;
    gap: 12px;

  }
  .custom-checkbox {
    width: 22px;
    height: 22px;
  }
}

 
.input-wrapper input {
  background: linear-gradient(#3f2f2a, #3f2f2a),
    linear-gradient(90deg, #e0a872, #f8e4be, #fff3e0, #e0a872);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 3px solid transparent;
  border-radius: 50vw;
  color: #fff;
  padding: 10px 22px;
  font-size: 1rem;
  height: 40px;
  width: 340px;
  margin-bottom: 0;
}

.terms-label {
  display: flex;
  align-items: center;
  gap: -5px;
  font-size: 2rem;
  font-size: 1.2rem;
  font-family: "Abhaya Libre Medium", serif;
  margin-bottom: 24px;
  justify-content: flex-end;
  width: 100%;
  max-width: 400px;
  margin-left: 50px;
}
