<aside class="admin-sidebar">
    <link rel="stylesheet" href="../css/admin_sidebar.css">
    <ul class="menu">
        <li class="sidebar-link" data-page="stores.html" tabindex="0"><span>Stores</span></li>
        <li class="sidebar-link" data-page="pos.html" tabindex="0"><span>Pos</span></li>
        <li class="sidebar-link" data-page="tables.html" tabindex="0"><span>Tabels</span></li>
        <li class="sidebar-link" data-page="items.html" tabindex="0"><span>Items</span></li>
        <li class="sidebar-link" data-page="bills.html" tabindex="0"><span>Bills</span></li>
        <li class="sidebar-link" data-page="pos_vouchers.html" tabindex="0"><span>Pos Vouchers</span></li>
        <li class="sidebar-link" data-page="settings.html" tabindex="0"><span>Settings</span></li>
        <li>User Screens</li>
        <li class="sidebar-link" data-page="reservations.html" tabindex="0"><span>Reservations</span></li>
        <li class="sidebar-link" data-page="users.html" tabindex="0"><span>Users</span></li>
        <li>Notifications</li>
        <li>Online Payment</li>
        <li class="sidebar-link" data-page="banners.html" tabindex="0"><span>Banners</span></li>
        <li>Sliders</li>
        <li class="sidebar-link" data-page="daily_report.html" tabindex="0"><span>Daily Reports</span></li>
        <li>Financial Bonds Report</li>
        <li>Billing Report</li>
        <li>Cashier Report</li>
        <li>Item Sales Report</li>
    </ul>
</aside>
