
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/date_search_pos.css">
</head>
<body>
<div class="invoice-search-section">
      <div class="search-group">
        <label class="search-label">Search By Date</label>
        <div class="search-row">
          <div class="search-field">
            <img src="../images/search.png" class="search-icon" alt="Search Icon">
            <input type="date" class="search-input" placeholder="Start Date">
          </div>
          <div class="search-field">
            <input type="date" class="search-input" placeholder="Start Date">
          </div>
          <button class="search-btn">Search</button>
        </div>
      </div>
      <div class="search-group">
        <label class="search-label">Search By Number</label>
        <div class="search-row">
          <div class="search-field">
            <img src="../images/search.png" class="search-icon" alt="Search Icon">
            <input type="text" class="search-input" placeholder="Phone Number">
          </div>
          <button class="search-btn">Search</button>
        </div>
      </div>
    </div>
    </body>
    </html>