<link rel="stylesheet" href="../css/footer.css">
<footer class="footer">
  <div class="footer-art">
    <img src="../images/Footer Img.png" alt="Coffee Machine Art" />
  </div>
  <div class="footer-content">
    <div class="footer-about">
      <h4>About</h4>
      <ul>
        <li>Home</li>
        <li>Menu</li>
      </ul>
    </div>
    <div class="footer-services">
      <h4>Services</h4>
      <ul>
        <li>Policy And Privacy</li>
        <li>Refunds & Exchanges</li>
        <li>Terms And Conditions</li>
      </ul>
    </div>
    <div class="footer-contact">
      <h4>Contact</h4>
      <ul>
        <li>
          <span class="footer-icon">
            <svg
              width="16"
              height="16"
              fill="#fff"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0C4.686 0 2 2.686 2 6c0 3.314 5.25 9.684 5.474 9.941a.5.5 0 0 0 .76 0C10.75 15.684 16 9.314 16 6c0-3.314-2.686-6-6-6zm0 8.5A2.5 2.5 0 1 1 8 3.5a2.5 2.5 0 0 1 0 5z"
              />
            </svg> </span
          >12 Fifth sattelment #35 - Egypt
        </li>
        <li>
          <span class="footer-icon">
            <svg
              width="16"
              height="16"
              fill="#fff"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-.5a.5.5 0 0 0-.5.5v.217l6.293 4.197a1 1 0 0 0 1.414 0L14.5 4.217V4a.5.5 0 0 0-.5-.5H2zm13 2.383-4.708 3.14a2 2 0 0 1-2.584 0L1 5.883V12a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5V5.883z"
              />
            </svg> </span
          >Maalycoffee@coffee.com
        </li>
        <li>
          <span class="footer-icon">
            <svg
              width="16"
              height="16"
              fill="#fff"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.654 1.328a.678.678 0 0 1 1.015-.063l2.29 2.29c.329.329.445.812.293 1.234l-.7 1.933a.678.678 0 0 1-.588.443l-1.516.152a11.72 11.72 0 0 0 4.516 4.516l.152-1.516a.678.678 0 0 1 .443-.588l1.933-.7c.422-.152.905-.036 1.234.293l2.29 2.29a.678.678 0 0 1-.063 1.015l-2.013 1.61c-.329.263-.799.263-1.128 0l-2.013-1.61a13.134 13.134 0 0 1-6.548-6.548l-1.61-2.013c-.263-.329-.263-.799 0-1.128l1.61-2.013z"
              />
            </svg> </span
          >+20 1234566666789
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Created by Omar Gomaa</p>
    <p>&copy; 2025 Maaly Coffee. All Rights Reserved.</p>
  </div>
</footer>