<header class="hero-section">
  <!-- Navbar will be included above -->
  <div class="hero-buttons-top">
    <a href="reservation.html" class="reservation-btn">Reservation</a>

    <a href="login.html" class="login-btn">Login</a>
  </div>
  <div class="hero-content hero-flex">
    <div class="hero-center">
      <div class="hero-logo">
        <img src="images/Borcelle 1.svg" alt="Brand Logo" />
      </div>
      <div class="maaly-word">Maaly</div>
      <div class="coffee-word">Coffee</div>
      <div class="coffee-machine-art">
        <img
          src="images/8b9ddee1b3d422108db38f330600de55d865bb22.png"
          alt="Coffee Machine"
        />
      </div>
    </div>
    <div class="coffee-art-bottom">
      <img
        src="images/46bcc7e2c055071947504b816a197f4cb97a91d7.png"
        alt="Coffee Art"
      />
      <div class="coffee-caption">But First Coffee</div>
    </div>
    <!-- Floating beans -->
    <img class="floating-bean bean1" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean2" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean3" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean4" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean5" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean6" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean7" src="images/Layer 2.svg" alt="Bean" />
    <img class="floating-bean bean8" src="images/Layer 2.svg" alt="Bean" />
  </div>
</header>
