<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/PosHeader.css">
</head>

<body>
 <header class="pos-header">
    <ul class="header-list">
        <li><a href="Pos.html">POS</a></li>
        <li><a href="Invoices.html">Invoices</a></li>
        <li><a href="pos_reservation.html">Reservations</a></li>
        <li><a href="cash_book.html">Cash Book</a></li>
    </ul>
    <div class="header-logo">
        <img src="images/Borcelle 1.svg" alt="Logo">
    </div>
 </header>   
</body>
</html>
